@import "tailwindcss";

/* Global white background and black text */
body {
  color: #000000;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}